.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.form {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(30%);
    width: 87%;
    height: 65%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 2);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadein 0.5s;
}
@keyframes fadein {
    /* 효과를 동작시간 동안 0 ~ 1까지 */
    from {
        opacity: 0;
        transform:translateX(-50%) translateY(50%) scale(.2);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(30%) scale(1);
    }
}
.form2{
    width: 60%;
    margin-top: 20px;
    max-height: 32%;
    padding: 0.1rem 1rem 1rem 1rem;
    background-color: white;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 2);
}

.form label {
    display: block;
    margin-bottom: 0.05rem;
    color: black;
    font-weight: bold;
}
.form textarea {
    display: block;
    resize: none;
    width: 90%;
    max-height: 20px;
    font: inherit;
    padding: 0.1rem 1rem 1rem 0rem;
    border-radius: 8px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.actions button {
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: gray;
    color: gray;
}

.actions button:hover {
    background-color: black;
}

.actions button[type='button'] {
    background-color: transparent;
}

.actions button[type='button']:hover {
    color: black;
}

.form {
    /* 기본 스타일 */
}

.image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: cover; /* 이미지를 비율을 유지하며 부모 요소에 꽉 채우도록 조정 */
}
