.background {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: scale 10s linear infinite;
    background-image: url("image/img2.png");
    position: relative;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.36);
    z-index: 1;
    pointer-events: none;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}


.text1 {
    font-size: 29vw;
    color: #ffffff;
    font-family: 'Nyala', sans-serif;
    position: absolute;
    bottom: 80%;
    left: 50%;
    margin-bottom: 10px;
    transform: translateX(-50%);
}

.text2 {
    font-size: 27vw;
    color: #ffffff;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
    font-family: 'Nyala', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}