.map{
    /*box-sizing: border-box;*/
    position: relative;
    /*margin-top : 1.5%;*/
    width: 100vw;
    height: 95vh;
    /*left: 5%;*/
    mix-blend-mode: normal;
    /*border: 2px solid black;*/
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    /*border-radius: 20px;*/
    z-index: 0;
}

.panToButton {
    position: absolute;
    z-index: 9999;
    bottom: 55px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07), 0 3px 10px rgba(0, 0, 0, 0.07);
}

.countMarker {
    font : inherit;
    color: black;
    opacity: 0.5;
}