.buttonWrapper2 {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #00e842;
    background-size: cover;
    border: none;
    cursor: pointer;
}