.form {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(-25%);
    background-color: white;
    padding: 1rem;
    max-width: 20rem;
    width: 80%;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 2);
    z-index: 1;
    animation: fadein 0.5s;
}
@keyframes fadein {
    /* 효과를 동작시간 동안 0 ~ 1까지 */
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
    }
    to {
        opacity: 1;
    }
}

main {
    animation: fadeIn 0.5s ease-in-out;
}

.form label {
    display: block;
    margin-bottom: 0.2rem;
    color: gray;
    font-weight: bold;
}

.form input,
.form textarea {
    display: block;
    width: 96%;
    font: inherit;
    padding: 0.5rem;
    border-radius: 10px;
    border: gray;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 1);
    background-color: white;
    color: #28262c;
}



input[type=file]::file-selector-button {
    width: 85px;
    height: 25px;
    background-color: white;
    border: 0.01rem solid rgb(77,77,77);
    border-radius: 10px;
    cursor: pointer;
}